.list-group-item{  
    padding: 0;  
    &.important{
        font-weight: 600;
        color: rgb(91, 173, 187);
    }
    .btn{
        margin: 0 10px;
        height: 40px;
        width: 40px;
    }
    .btns{
        text-align: right;
        margin-right: -10px;
    }
    .item{
        display: flex;
        align-items: center;
        cursor: pointer;
        &.checked{
            text-decoration: line-through;
        }
    }      
}