.search{
    .btn-group .btn{
        background: #fff;
        color: #333;
    }

    .btn-group .btn.btn-active{
        background: rgb(91, 173, 187);
        color: #fff;
        border-color: rgb(91, 173, 187);
    }
}